/* .App {
  font-family: sans-serif;
  text-align: center;
} */

@import url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css");

.export-buttons {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
